::-webkit-scrollbar {
    width: .5em;
}
::-webkit-scrollbar-track {
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb {
    background: #e7e7e0;
    border-radius: 100vw;
}

@supports (scrollbar-color: red blue) {
    * {
        scrollbar-color: #e7e7e0 #000;
    }
}
